/*
=============== 
Profile and Sidebar
===============
*/
.profile{
    position: relative;
    padding: 0em 0.75em;
}
.sidebar-toggle{
    display: grid;
    place-items: center;
}
.hide-sidebar{
    display: none;
}
.profileContainer{
    padding: 2em 1em;
}
/*
=============== 
SideBar and Profile
===============
*/
.sidebar-container{
   background: var(--grey-400);
    width: 90%;
    padding: 0em 0.75em;
    position: absolute;
    top: 0%;
    left:0%;
    bottom: 0%;
    height: 70vh;
    animation: sidebar 0.6s linear 0s forwards;
}
.side-bar-links{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height: 80%;
    width:60%;
}
.side-bar-link{
    font-size: 1.2rem;
   cursor: pointer;
    border-bottom: 1px solid var(--grey-600);
    
}
.side-bar-link span{
    display: flex;
    align-items: center;
    gap:1em;
    justify-content: space-between;

}
.sidebar-icons{
    font-size: 2.3rem;
    cursor: pointer;
    transition: 0.3s linear;
}
.sidebar-icons:hover{
    transform: scaleY(1.2);
}
@keyframes sidebar {
    0% {
      opacity: 0;
      transform: translateX(-500px);
    }
    100% {
      transform: translateX(0px);
      opacity: 1;
    }
  }

  @media screen and (min-width:800px) {
    .profile{
        position: static;
    }
    .sidebar-toggle{
        display: none;
    }
    .hide-sidebar{
        display: block;
    }
    .sidebar-icons{
        display: none;
    }
    .sidebar-container{
        position: static;
        background: none;
        width: 0;
       
    }
    .profile-wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .profileContainer{
        grid-column: span 2 / span 2;
    }

  }
  @media screen and (min-width:1000px) {
   
    .profile-wrapper{
        
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .profileContainer{
        grid-column: span 3 / span 3;
    }
  }

  @media screen and (min-width:1200px) {
    .settings-wrapper{
        margin:0em 10em;
    }
    .profile-wrapper{
        
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    .profileContainer{
        grid-column: span 4 / span 4;
    }
  }



/*
=============== 
Info
===============
*/
.info-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.info-name-container > h2,
.info-name-container > h3,
.info-section > .info-details-container > h5{
    font-family: var( --bodyFont);
    font-weight: 400;
  
}
.info-details-container{
    display: grid;
    gap:1.5em
}
.info-details-container span{
    font-family: var(--headingFont);
    font-weight: 500;
    color: var(--orange-500);
    font-size: 1.2rem;
    
   
}
.info-name-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
}
.info-avatar{
    height:100%;
    max-width: 100%;
    border-radius: 50%;
}
.info-avatar img{
    max-height:400px;
    max-width: 100%;
    object-fit: cover;
}
.edit-info-btn-container{
    margin: 1em 0em;
    display: grid;
    place-items: center;
}
.edit-info-btn{
    padding: 0.4em 2em;
}
@media screen and (min-width:800px) {
    .info-section{
        flex-direction: row;
        justify-content: space-around;
    }
   
}


  /*
=============== 
Settings
===============
*/
.profile-settings-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:1.5em;
}
.profile-details-settings{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:1.54em;
}
.profile-name-settings{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}
.profile-name-settings input{
    padding: 0.4em 1em;
    font-size: 1rem;
}
.profile-description-textarea{
    display: flex;
    flex-direction: column;
    align-items: flex-start;  
}
.profile-description-textarea textarea{
    padding: 0.4em 1em;
    font-size: 1rem;
    width: 100%; 
    font-family: "Montserrat", sans-serif;;
}
.profile-avatar-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5em;
}
.profile-avatar-container{
    background: var(--grey-700);
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile-avatar-container img{
    /* margin: 0.4em; */
    height: 210px;
    width: 210px;
    border-radius: 50%;
    cursor: pointer;
}
.profile-avatar-container input{
    height: 0;
    width: 0;
}
.profile-images-uploader-container{
    display: grid;
    grid-template-columns:  1fr;
    gap:0.5em;
}
.profile-upload-container{
    display: flex;
    flex-direction: column;
    background-color: var(--grey-700);
    align-items: center;
    justify-content: center;
    max-width: 100%;
    padding: .5em 0.5em;
    border: 2px dotted var(--grey-900);

}

.profile-upper-section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.profile-upload-container p{
    font-size: 0.5rem;
}
.profile-upper-section p{
    font-size: 0.7rem;
}

.profile-upload-icon{
    font-size: 2rem;
}
.profile-upload-container input{
    height: 0;
    width: 0;
}

.profile-text-recommend{
    font-size: 0.75rem;
    text-align: center;
    margin-top: 2rem;
}
.profile-settings-btn{
    display: grid;
    place-items: center;
    margin-top: 2em;
}

@media screen and (min-width:800px) {

    .profile-settings-wrapper{
        flex-direction: row;
        justify-content: space-around;
    }
    
}

@media screen and (min-width:1100px) {
    .profile-images-uploader-container{
        display: grid;
        grid-template-columns:  1fr 1fr;
        gap:0.5em;
    }
}