.profile-create-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column-reverse;

}

.profile-create-modal {
    border-radius: 1em;
    box-shadow: 0px 100px 48px -60px rgba(0,0,0,0.1);
    color: rgb(15, 14, 14);

    position: relative;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .profile-create-content > *, .profile-create-modal > * {
    padding: 0.875em;
  }
  
  .profile-create-title {
    font-size: 1.25em;
    font-weight: 600;
    line-height: 1.2;
    display: flex;
    justify-content: center;
  }
  .profile-create-subtitle{
    font-size:0.75em;
    font-weight: 600;
    line-height: 1.2;
    display: flex;
    justify-content: center;
    
  }
  .profile-create-image-container{
    max-width: 330px;
  }
  .profile-create-message {
    line-height: 1.2;
    text-align: center;
  }
  
  .profile-create-actions {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .profile-create-upload-btn {
    background-color: transparent;
    border: 0.125rem dashed hsla(223,10%,50%,0.4);
    flex: 1;
    padding: 0.375rem 2rem;
  }
  
  .profile-create-upload-btn:hover {
    background-color: hsla(223,10%,60%,0.2);
  }
  
  .profile-create-close {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(226, 94, 54);
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: absolute;
    right: 10px;
    top: 10px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
  }
  
  .profile-create-result {
    margin-top: 4px;
    background-color: rgba(0, 140, 255, 0.062);
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 1em;
  }
  
  .profile-create-file-uploaded {
    font-weight: 300;
  }
  
  .profile-create-file-uploaded::before {
    position: absolute;
    content: "X";
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(26, 7, 1, 0.212);
    height: 30px;
    width: 30px;
    border-radius: 50%;
    right: 10px;
    top: 10px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    cursor: pointer;
  }
  
  .profile-create-file-uploaded:hover::before {
    background-color: rgba(233, 40, 6, 0.664);
  }


  /* form container */
  .profile-create-form-container {
    width: 400px;
   
   
    padding: 32px 24px;
    font-size: 14px;
    font-family: inherit;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    border-radius: 16px;
    background-size: 200% 100%;
    animation: gradient 5s ease infinite;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
  
    50% {
      background-position: 100% 50%;
    }
  
    100% {
      background-position: 0% 50%;
    }
  }
  
  .profile-create-form-container button:active {
    scale: 0.95;
  }
  
  .profile-create-form-container .profile-create-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .profile-create-form-container .profile-create-form-group {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  
  .profile-create-form-container .profile-create-form-group label {
    display: block;
    margin-bottom: 5px;
    color: #717171;
    font-weight: 600;
    font-size: 12px;
  }
  
  .profile-create-form-container .profile-create-form-group input {
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    color: #fff;
    font-family: inherit;
    background-color: transparent;
    border: 1px solid #414141;
  }
  
  .profile-create-form-container .profile-create-form-group textarea {
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    resize: none;
    color: #fff;
    height: 96px;
    border: 1px solid #414141;
    background-color: transparent;
    font-family: inherit;
  }
  
  .profile-create-form-container .profile-create-form-group input::placeholder {
    opacity: 0.5;
  }
  
  .profile-create-form-container .profile-create-form-group input:focus {
    outline: none;
    border-color: var(--orange-500);
  }
  
  .profile-create-form-container .profile-create-form-group textarea:focus {
    outline: none;
    border-color: var(--orange-500);
  }
  
  .profile-create-form-container .profile-create-form-submit-btn {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-self: center;
    font-family: inherit;
    color: var(--grey-400);
    font-weight: 600;
    width: 40%;
    background: var(--orange-500);
    border: 1px solid var(--orange-600);
    padding: 12px 16px;
    font-size: inherit;
    gap: 8px;
    margin-top: 8px;
    cursor: pointer;
    border-radius: 6px;
  }
  
  .profile-create-form-container .profile-create-form-submit-btn:hover {
    background-color: #fff;
    border-color: #fff;
  }
  

  @media screen and (min-width:1008px) {
    .profile-create-container{
       flex-direction: row-reverse;
    }
    .profile-create-form-container {
        align-self: flex-start;
    }
    
  }

  @media screen and (min-width:1368px) {
    .profile-create-image-container{
       display: grid;
       grid-template-columns: 1fr 1fr;
       gap: 2em;
    }
 
  }