.single-shop-section{
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 2em;


}
.shop-details-container{
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;

}
.single-shop-images{
    width: 100%;
    height: 100%;
   
}

.single-shop-main-image{
    width: 100%;
    height:auto
}
.single-shop-other-images{
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   padding: 1em 0.4em;


}
.single-shop-other-image{
    height: 4em;
    max-width:4em;
}
.single-shop-content{
    padding: 1em 1.5em;
    display: flex;
    flex-direction: column;
 
    width: 100%;
    gap:1em;
}
.single-shop-content h5{
    font-weight:500;
}
.single-shop-content p{
    font-weight: 300;
    font-size: 0.95rem;
}
.single-shop-content button{
    border-radius: 5px;
    min-width: 100%;
}

.map-container{
    height: 100%;
    width: 100%;
}
.leaflet-container {
    height: 50vh;
    width: 100%;
}
@media screen and (min-width: 850px) {
    .single-shop-section{
      
        gap: 1em;
        padding: 2em 4em;
    }
    .shop-details-container{
        flex-direction: row;
        gap: 1em;
    }
}