.shop-container {
  padding: 0.75em 0.5em;
  display:flex;
  flex-direction: column;
  gap:1em;
 
}
.shop-container h5 {
  font-weight: 500;
}

.shop-categorize {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  gap: 0.85em;
  max-width: 50%;
}

.shop-categorize-serach {
  padding: 0.4em 0.85em;
  font-size: 1rem;
  border: none;
  background-color: var(--orange-100);
  border-radius: 5px;
}
.shop-categorize-location {
  align-self: center;
}

.shop-categorize-location li {
  font-weight: 300;
  cursor: pointer;
  margin: 0.3em 0em;
}
.shop-categorize-location li:active {
  font-weight: 500;
}

.shop-categorize-btn {
  font-size: 1rem;
  border-radius: 5px;
}
.shop-sort-layout{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    

}



.shop-sort{
    display: flex;

    flex-direction: column;
}
.shop-grid{
    display: flex;
}
.shop-grid span{
    margin-left: 0.4em;
    height: 1.5rem;
    width:1.5rem;
    border: 0.75px solid black;
    display: grid;
    place-items: center;
}


.option-sort select{
    border: none;
    margin: 0em 0.5em;
    font-size: 0.9rem;
}
.shop-card-container{
    display: grid;
    gap:1em;
    place-items: center;
}

.shop-card{
    height: 300px;
    width:240px;
}

.shop-card-image{
    height: 60%;
    width: 100%;
}
.shop-card-details{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 0.2em ;
}

.shop-card-location span{
    color: var(--blue-300);
}


.shop-card-button{
    border-radius:0px;
    width: 100%;
}



@media screen and (min-width: 500px) {
  .shop-categorize-location {
    align-self: flex-start;
  }
  .shop-card-container{
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 580px) {

    .shop-sort-layout{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-grow: 1;
    }
    .shop-sort{
        flex-grow: 3;
        align-items: center;
        flex-direction: row;
        justify-content: space-around;
      
    }
    .shop-sort h5{
        font-size: 0.75rem;
    }
  .shop-sort hr {
    height: 1px;
    min-width: 40%;
    border: none;
    margin: 20px 0;
   
    background-color: gray;
  } 
  .shop-card-container{
    grid-template-columns: 1fr ;
  }

}
@media screen and (min-width: 770px) {
    .shop-container{
        flex-direction: row;
        align-items: flex-start;
    }
    .shop-items-container{
      flex-grow: 2;
    }
    .shop-sort h5{
        display: none;
    }
    .shop-sort hr {
        min-width: none;
    }
    .shop-card-container{
        grid-template-columns: 1fr 1fr ;
      }
    
}

@media screen and (min-width: 1000px) {
    .shop-sort h5{
        display: block;
    }
    .shop-card-container{
        grid-template-columns: 1fr 1fr 1fr ;
      }
    
}


@media screen and (min-width: 1350px) {
    .shop-card{
        height: 350px;
        width:290px;
    }
    
}


